{{- $codespaces := env "CODESPACES" | not | not -}}
{{- $devcontainer := env "REMOTE_CONTAINERS" | not | not -}}
{{- $isWSL := false -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   if .chezmoi.kernel -}}
{{-     if hasKey .chezmoi.kernel "osrelease" -}}
{{-       $isWSL = .chezmoi.kernel.osrelease | lower | contains "microsoft" -}}
{{-     end -}}
{{-   end -}}
{{- end -}}

{{- $windowsUser := "" -}}
{{- if eq .chezmoi.os "windows" -}}
{{-   $windowsUser = env "USERNAME" -}}
{{- else if and $isWSL stdinIsATTY -}}
{{-   $windowsUser = promptStringOnce . "windowsUser" "Windows username (for WSL 1Password paths)" -}}
{{- end -}}

{{- $corpUser := "" -}}
{{- if stdinIsATTY -}}
{{-   $corpUser = promptStringOnce . "corpUser" "Corp username (for gitconfig-corp, empty to skip)" -}}
{{- end -}}

[data]
  codespaces = {{ $codespaces }}
  devcontainer = {{ $devcontainer }}
  isWSL = {{ $isWSL }}
  windowsUser = {{ $windowsUser | quote }}
  corpUser = {{ $corpUser | quote }}
