{{- if .isWSL -}}
[core]
	editor = vim -c \"set fenc=utf-8\"
[gpg "ssh"]
	program = /mnt/c/Users/{{ .windowsUser }}/AppData/Local/Microsoft/WindowsApps/op-ssh-sign-wsl.exe
{{- else -}}
[core]
	editor = vim -c "set fenc=utf-8"
[gpg "ssh"]
	program = /opt/1Password/op-ssh-sign
{{- end -}}
