# yaml-language-server: $schema=https://aka.ms/configuration-dsc-schema/0.2
# Reference: https://github.com/microsoft/winget-cli#building-the-client
properties:
  resources:
    - resource: Microsoft.Windows.Developer/DeveloperMode
      directives:
        description: "Enable Developer Mode"
        allowPrerelease: true
      settings:
        Ensure: Present
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      directives:
        description: "Install PowerShell"
        allowPrerelease: false
      settings:
        id: Microsoft.PowerShell
        source: winget
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      directives:
        description: "Install GitHub CLI"
        allowPrerelease: false
      settings:
        id: GitHub.cli
        source: winget
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      directives:
        description: "Install Go"
        allowPrerelease: false
      settings:
        id: GoLang.Go
        source: winget
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      directives:
        description: "Install fzf"
        allowPrerelease: false
      settings:
        id: junegunn.fzf
        source: winget
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      directives:
        description: "Install git"
        allowPrerelease: false
      settings:
        id: Git.Git
        source: winget
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      directives:
        description: "Install Azure CLI"
        allowPrerelease: false
      settings:
        id: Microsoft.AzureCLI
        source: winget
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      directives:
        description: "Install PowerToys"
        allowPrerelease: false
      settings:
        id: Microsoft.PowerToys
        source: winget
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      directives:
        description: "Install DevToys"
        allowPrerelease: true
      settings:
        id: DevToys-app.DevToys
        source: winget
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      directives:
        description: "Install DotNet SDK"
        allowPrerelease: false
      settings:
        id: Microsoft.DotNet.SDK.9
        source: winget
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      directives:
        description: "Install Azure Developer CLI"
        allowPrerelease: false
      settings:
        id: microsoft.azd
        source: winget
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      directives:
        description: "Install jq"
        allowPrerelease: false
      settings:
        id: jqlang.jq
        source: winget
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      directives:
        description: "Install node"
        allowPrerelease: false
      settings:
        id: OpenJS.NodeJS
        source: winget
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      directives:
        description: "Install Terraform"
        allowPrerelease: false
      settings:
        id: Hashicorp.Terraform
        source: winget
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      directives:
        description: "Install Dev Proxy"
        allowPrerelease: false
      settings:
        id: DevProxy.DevProxy
        source: winget
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      directives:
        description: "Install Sqlite"
        allowPrerelease: false
      settings:
        id: SQLite.SQLite
        source: winget
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      directives:
        description: "Install Python"
        allowPrerelease: false
      settings:
        id: Python.Python.3.13
        source: winget
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      directives:
        description: "Install GitHub Copilot CLI"
        allowPrerelease: true
      settings:
        id: GitHub.Copilot
        source: winget
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      directives:
        description: "Install uv"
        allowPrerelease: false
      settings:
        id: astral-sh.uv
        source: winget
  configurationVersion: 0.2.0
